<% include ../partials/loggedInHeader %>

<div class="ui one column centered">
	
	<div class="ui column row addPadding">
			<h1 class="ui segment"><%= user.userFirstName %>'s Favorites</h1>
	</div>
</div>

<div class="addPadding"> 
<div class="ui column centered grid"> 
	<div class="column">
		<table class="ui table segment">
			<thead>
				<tr>
					<th>Bussiness</th>
					<th>Image</th>
					<th>Yelp Rating Count</th>
					<th>My Comments</th>
				</tr>
			</thead>
			<tbody>
				<% user.favorites.forEach(function(favorite){ %>
				<tr>
					<td><%= favorite.favName %></td>
					<td> <%- favorite.favImage %></td> 
					<!-- <td> <img src="<%= favorite.favImage %>" alt="business image"> </td> -->
					<td><%- favorite.favReviewCount %></td>
					<td>N/A</td>
				</tr>
				  <%})%>
			</tbody>
			<tfoot>
			  <tr><th colspan="7">
			    
			  </th>
			</tr></tfoot>
		</table>
	</div>
</div>
</div>

<% include ../partials/loggedInFooter %>