<% include ../partials/loggedInHeader %>

<div>
	<p>
		<h3>Your Results for <%= term %></h3>
	</p>
</div>



</div>
<table class="ui table segment">
	<thead>
		<tr>
		  <th>Bussiness</th>
		  <th></th>
		  <th>No. of Reviews</th>
			<th>Rating</th>
			<th>Location</th>
			<th>Distance</th>
			<th>Favorite</th>
		</tr>
	</thead>
	<tbody>
		<% results.businesses.forEach(function(business){ %>
		<tr>
			<td id="favName">
			  <a href="<%= business.url %>" > <%= business.name %> </a>  
			</td>
			<td id="favImage">
			  <img class="ui small rounded image" src="<%= business.image_url %>" alt="Business Image">
			</td>
			<td id="favReviewCount">
			  <%= business.review_count %>
			</td>
			<td id="favRating">
			  <%= business.rating %>
			</td>

			<td id="favAddress">
			  <%= business.location.address %>
			</td>
			<td id="favDistance">
			  <%= business.distance %>
			</td>
			<td>   
				<form id="favorite" action="/users/<%= data.id %>/favorites/" method="POST">
					<input  type="submit" value="Favorite" class="ui blue labeled button">
					<input type="hidden" name="business[name]" value="<%= business.name %>">
					<input type="hidden" id="data" value="<%= data.id %>">
					</form>
			</td>
			</tr>
			<% }); %> 
		</tbody>
	</table>
	<div> 

<% include ../partials/loggedInFooter %>