<% include ../partials/loggedInHeader %>



<div class="ui one column">
  <div class="ui column row">
    <p>
  	  <h3 class="ui segment">Results for "<%= term %>"</h3>
    </p>
  </div>
</div>

<div class="ui two column centered grid"> 
<div class="ui one column">
	
 <table class="ui table segment">
	<thead>
		<tr>
		  <th>Bussiness</th>
		  <th></th>
		  <th>No. of Reviews</th>
			<th>Rating</th>
			<th>Location</th>
			<th>Distance</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% results.businesses.forEach(function(business){ %>
		<tr>
			<td id="favName">
			  <a href="<%= business.url %>" > <%= business.name %> </a>  
			</td>
			<td id="favImage">
			  <img class="ui small rounded image" src="<%= business.image_url %>" alt="Business Image">
			</td>
			<td id="favReviewCount">
			  <%= business.review_count %>
			</td>
			<td id="favRating">
			  <%= business.rating %>
			</td>

			<td id="favAddress">
			  <%= business.location.address %>
			</td>
			<td id="favDistance">
			  <%= business.distance %>
			</td>
			<td>   
				<form id="favorite" action="/users/<%= data.id %>/favorites/" method="POST">
					<input  id="favorited" type="submit" value="Favorite" class="ui blue labeled button">
					<input type="hidden" name="business[name]" value="<%= business.name %>">
					<input type="hidden" id="data" value="<%= id %>">
					</form>
			</td>
			<td>
			  
			  <form id="comment" action="/users/<%= data.id %>/favorites/" method="POST">
				  <input  id="comment" type="submit" value="Add Note" class="ui purple labeled button">
				  <textarea name="textarea" id="comment" cols="20" rows="5" style="display:none">Write Note</textarea>
				</form>
			</td>
			</tr>
			<% }); %> 
		</tbody>
	</table>

  </div>
</div>


<% include ../partials/loggedInFooter %>