<% include ../partials/loggedInHeader %>

<div class="paddingCoBack">

<div class="ui one column">
	<div class="ui column row">
		<p>
			<h1 class="ui segment">Results for "<%= term %>"</h1>
		</p>
	</div>
</div>

  <div class="ui one column centered grid">  
    <div class="column" >
     

		<table class="ui table segment">
			<thead>
				<tr>
					<th>Bussiness</th>
					<th></th>
					<th>No. of Reviews</th>
					<th>Rating</th>
					<th>Location</th>
					<th>Favorite</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<% results.businesses.forEach(function(business){ %>
				<tr>
					<td><p> <%= business.name %> </p><a href="<%= business.url %>" > Visit on Yelp </a></td>
					<td><img class="busImage ui small rounded image" src="<%= business.image_url %>" alt="Business Image"></td>
					<td class="reviewCount"> <p><%= business.review_count %></p> </td>
					<td class="rating"><%= business.rating %></td>
					<td class='address'><%= business.location.address %></td>
					<td>   

					    
						    <form class="favButton ui form" action="/users/<%= id %>/favorites/" method="POST">
						      <input type="submit" value="Favorite" class="compact mini ui grey labeled button">
						      <input type="hidden" class="yelpBusId" value="<%= business.id %>">
						      <input type="hidden" class="busUrl" value="<%= business.url %>">
						      <input type="hidden" class="busName" name="business[name]" value="<%= business.name %>">
						      <input type="hidden" class="busImageUrl" value="<%= business.image_url %>">
						      </form>

					</td>
					
					<td>
					  <div class="ui form">
					    <div class="field">
						  	  <form class="commentForm" action="/users/<%= id %>/favorites/" method="POST">
						  	    <textarea class="textAreaComment hiddenField" name="textarea" cols="20" rows="5" placeholder="Add comment"></textarea>
						  	    <button id="saveBtn" type="submit" class="compact mini ui green labeled button">Save</button>
						  	    <input type="hidden" class="userIdData" value="<%= id %>">
						      </form>
						  	
						    <button type="button" class="add compact mini ui pink labeled button">Add</button>
						   
						   <div class="ui segments">
						     <div class="ui segment"><p><% foundUser.comments.forEach(function(comment){ %>
						         <%= comment.content %>

						     	  <% }) %></p>
						     </div>
						   </div>
						    
						    <div class="ui segments hiddenComm">
						      <div class="ui segment">
						      </div>
						    </div>


						   </div>
						</div>
					</td>

				</tr>
				<% }); %> 
			</tbody>
			<tfoot>
			  <tr><th colspan="7">
			   <!--  <div class="ui green labeled button">More</div> -->
			  </th>
			</tr></tfoot>
		</table>
   </div>
	</div>
</div>

<% include ../partials/loggedInFooter %>