<% include ../partials/header %>

<div>
	<p>
		<h3>Your Results for <%= term %></h3>
	</p>
</div>



</div>
<table class="ui table segment">
	<thead>
		<tr>
		  <th>Bussiness</th>
		  <th></th>
		  <th>No. of Reviews</th>
			<th>Rating</th>
			<th>Location</th>
			<th>Distance</th>
			<th>Favorite</th>
		</tr>
	</thead>
	<tbody>
		<% results.businesses.forEach(function(business){ %>
		<tr>
			<td>
			  <a href="<%= business.url %>" > <%= business.name %> </a>  
			</td>
			<td>
			  <img src="<%= business.image_url %>" alt="Business Image">
			</td>
			<td>
			  <%= business.review_count %>
			</td>
			<td>
			  <%= business.rating %>
			</td>

			<td>
			  <%= business.location.address %>
			</td>
			<td>
			  <%= business.distance %>
			</td>
			<td>
				<form action="/results/<%= business.id %>?_method=DELETE" method="POST">
					<input type="submit" value="
					Favorite" class="ui blue labeled icon button"> </form>
			</td>
			</tr>
			<% }); %> 
		</tbody>
	</table>
	<div> 

<% include ../partials/footer %>