<% include ../partials/loggedInHeader %>



<div class="ui one column">
	<div class="ui column row">
		<p>
			<h1 class="ui segment">Results for "<%= term %>"</h1>
		</p>
	</div>
</div>

  <div class="ui one column centered grid">  
    <div class="column" >
     
      <div class="addPadding">

		<table class="ui table segment">
			<thead>
				<tr>
					<th>Bussiness</th>
					<th></th>
					<th>No. of Reviews</th>
					<th>Rating</th>
					<th>Location</th>
					<th>Favorite</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<% results.businesses.forEach(function(business){ %>
				<tr>
					<td><p class='busName'> <%= business.name %> </p><a href="<%= business.url %>" > Visit on Yelp </a></td>
					<td class='busImage'><img class="ui small rounded image" src="<%= business.image_url %>" alt="Business Image"></td>
					<td class="reviewCount"><%=business.review_count%></td>
					<td class="rating"><%= business.rating %></td>
					<td class='address'><%= business.location.address %></td>
					<td>   
						<form class="favButton" action="/users/<%= id %>/favorites/" method="POST">
						<input type="submit" value="Favorite" class="compact mini ui blue labeled button">
						<input type="hidden" class="yelpBusId" value="<%= business.id %>">
						<input type="hidden" class="busUrl" value="<%= business.url %>">
						<input type="hidden" name="business[name]" value="<%= business.name %>">
						<input type="hidden" class="data" id="data" value="<%= id %>">
						</form>
					</td>
					<td>
						  	<form class="comment" action="/users/<%= id %>/favorites/" method="POST">
						  	        <button type="submit" class="save hiddenField">Save</button>
						  	        <textarea class="textAreaComment hiddenField" name="textarea" cols="20" rows="5" placeholder="Add comment"></textarea>
						            <button type="button" class="add">Add</button>
						    </form>
					</td>
				</tr>
				<% }); %> 
			</tbody>
			<tfoot>
			  <tr><th colspan="7">
			   <!--  <div class="ui green labeled button">More</div> -->
			  </th>
			</tr></tfoot>
		</table>
   </div>
	</div>
</div>


<% include ../partials/loggedInFooter %>