<% include ../partials/loggedInHeader %>

<div class="paddingCoBack">

<div class="ui one column">
	<div class="ui column row">
		<p>
			<h1 class="ui segment">Results for "<%= term %>"</h1>
		</p>
	</div>
</div>

  <div class="ui one column centered grid">  
    <div class="column" >
     

		<table class="ui table segment">
			<thead>

			</thead>
			<tbody>
				<% results.businesses.forEach(function(business){ %>
				<tr>
					<td><p> <%= business.name %> </p><a href="<%= business.url %>" > View on Yelp </a></td>
					<td><img class="busImage ui small rounded image" src="<%= business.image_url %>" alt="Business Image"></td>
					<td class="reviewCount"> <p><%= business.review_count %></p> </td>
					<td class="rating"><%= business.rating %></td>
					<td class='address'><%= business.location.address %></td>
					<td>   
					    <% if (!business.id) {%>
						    <form class="favButton ui form" action="/users/<%= id %>/favorites/" method="POST">
						      <input type="submit" value="Favorite" class="compact small ui grey labeled button">
						      <input type="hidden" class="yelpBusId" value="<%= business.id %>">
						      <input type="hidden" class="busUrl" value="<%= business.url %>">
						      <input type="hidden" class="busName" name="business[name]" value="<%= business.name %>">
						      </form>
						  <% } else { %> 
						        <form class="favButton ui form" action="/users/<%= id %>/favorites/" method="POST">
						        <input type="submit" value="Favorite" class="compact small ui yellow labeled button">
						        <input type="hidden" class="yelpBusId" value="<%= business.id %>">
						        <input type="hidden" class="busUrl" value="<%= business.url %>">
						        <input type="hidden" class="busName" name="business[name]" value="<%= business.name %>">
						        </form>
						  <% } %>
					</td>
					
					<td>
					  <div class="ui form">
					    <div class="field">
						  	  <form class="commentForm" action="/users/<%= id %>/favorites/" method="POST">
						  	    <textarea class="textAreaComment hiddenField" name="textarea" cols="20" rows="5" placeholder="Add comment"></textarea>
						  	    <button id="saveBtn" type="submit" class="compact small ui green labeled button">Save</button>
						  	    <input type="hidden" class="userIdData" value="<%= id %>">
						      </form>
						  	
						  	<% if(business.comment){%>
						  	<div class="ui segments">
						  	  <div class="ui segment">
						  	    <p><%=business.comment%></p>
						  	  </div>	
						  	  <div> 
						  	    <a class="right paddingRL" href="" > Remove </a>
						  	    <a class="right paddingRL" href="" > Edit </a>
						  	  </div>	  	    
						  	</div>
						  	<% } else { %>
						  	<button type="button" class="add compact small ui pink labeled button">Comment</button>    
						  	<%  }%> 
						    
						    <div class="ui segments hiddenComm">
						      <div class="ui segment">
						      </div>
						    </div>


						   </div>
						</div>
					</td>

				</tr>
				<% }); %> 
			</tbody>
			<tfoot>
			  <tr><th colspan="7">
			   <!--  <div class="ui green labeled button">More</div> -->
			  </th>
			</tr></tfoot>
		</table>
   </div>
	</div>
</div>

<% include ../partials/loggedInFooter %>