<% include ../partials/loggedInHeader %>



  

  <div class="ui segment">

    <p><h1>Welcome <%= oneUser.userFirstName %></h1></p> 
  </div>


<div class="ui eight column grid aTwo">
    
  <div class="row four column wide aaTwo">
    
    <div class="column aaaTwo"></div>

    <div class="column aaaTwo">
          <div class="column profileDiv">
                <img class="ui medium rounded image" src="<%= oneUser.userImage %>" alt="user image">
          </div>

          <div class="column bbbbTwo">
              <div class="addSpace">
                <a href="/users/<%= id %>/edit" class="compact mini ui black labeled button">Edit Profile</a>
              </div>
          </div>

          <div class="column ccccTwo">
          </div>

          <div class="column ddddTwo">       
          </div>
    </div>




    
    <div class="column bbbTwo ">

          <div class="column aaaaTwo">
          </div>

          <div class="column">
              <form action='/users/<%= id %>/search'>
               <div class="bbbbTwo centerIsh">
                  <input class="addPadding" type="text" name="term" autofocus placeholder="term">
               </div>
          </div>

          <div class="column">
              <div class="ccccTwo centerIsh">
                <input class="addPadding" type="text" name="location" placeholder="location">
              </div>
          </div>

          <div class="column">  
              <div class=" ddddTwo centerIsh">
                  <input type="submit" value="Search" class="ui green labeled button">    
              </div>
              </form>
          </div>

    </div>
    


  </div>    

</div>


<!-- 
 <div class="ui one column centered">
  
  <div class="ui column row addPadding">
      <h1 class="ui segment"><%= oneUser.userFirstName %>'s Favorites</h1>

    <table class="ui table segment">
      <thead>
        <tr>
          <th>Bussiness</th>
          <th>Image</th>
          <th>Yelp Rating Count</th>
          <th>My Comments</th>
        </tr>
      </thead>
      <tbody>
        <% oneUser.favorites.forEach(function(favorite){ %>
        <tr>
          <div class="addPadding"> 
          <td><%= favorite.favName %></td>
          <td><%- favorite.favImage %></td>
          <td><%= favorite.favReviewCount %></td>
          <td>N/A</td>
          </div>
        </tr>
          <%})%>
      </tbody>
    </table>



  </div>
 </div> -->


 <% include ../partials/loggedInFooter %>
